.home-cont{
        margin: 10px 0px;

}
.home-cont>.banner{
    height: 350px;

}
.info>h2{
    padding: 30px 0;
}
.info>div{
    height: 300px;
}

.info>div>.img{
    flex: 1 0 250px;
}
.info>div>.text{
    padding: 10px;
    flex: 1 0 250px;

}
.info>div>.text>p{
        padding: 20px;
    }
.info>div:nth-child(even) {
    flex-direction: row;
}
.info>div:nth-child(odd) {
    flex-direction: row-reverse;
}
.carousel{
    margin: 25px 20px;
    padding: 20px;
    display: grid;
    grid-template-rows: 300px 50px;
    grid-template-columns: 100%;
    gap: 10px;
}
.carousel>.imgs{
    width: 100%;
    height: 300px;
}
.carousel>.imgs>img:nth-child(1),
.carousel>.imgs>img:nth-child(3) {
    width: calc(100%/2.5);
    border-radius: 10px;
    transition: all 2s;
    opacity: .7;
    box-shadow: 5px 5px 10px var(--main-color), -5px -5px 10px var(--main-color);
}
.carousel>.imgs>img:nth-child(2){
    position: absolute;
    width: calc(100%/2.5);
    height: inherit;
    left: calc(100%/3.25);
    z-index: 2;
    align-self: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

.carousel>.imgs>img{
    height: inherit;
}
.carousel-btns{
    margin: auto;
    gap: 20px;
}
.carousel-btns>button{
    padding: 20px;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
    background: inherit;
    box-shadow: 5px 5px 10px var(--main-color)
        ,-5px -5px 10px var(--main-color);
}


@media screen and (min-width:900px) {
    .home-cont>.banner {
        height: 480px;

    }
    .info>div {
        height: 400px;
    }
    .info>.header{
        font-size: 32px;
    }
        .info>div>.text>p {
            padding: 20px 80px;
        }
    .carousel {
            grid-template-rows: 380px 80px;
        }
    .carousel>.imgs {
            height: 380px;
        }
}
