form select {
    padding: 15px 30px;
    border: none;
    box-shadow: 5px 5px 5px var(--main-color),
        -5px -5px 5px var(--main-color);
    background: inherit;
    color: rgb(28, 15, 181);
    font-weight: bold;
}

form select::selection {
    padding: 15px 30px;
    border: none;
    box-shadow: 5px 5px 5px var(--main-color),
        -5px -5px 5px var(--main-color);
    background: inherit;
    color: rgb(28, 15, 181);
    font-weight: bold;
}
