.quiz-cont{
    margin-bottom: 50px;
}
form{
    margin: auto;
    width: fit-content;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    box-shadow: 10px 10px 15px var(--main-color),
            -10px -10px 15px var(--main-color);
}
form h3{
    margin: 20px 0;
}
form>.quiz-num{
    margin: 0;
    text-align: center;
    width: fit-content;
    border-radius: 100px;
    padding: 10px;
    box-shadow: inherit;
    border: 1px solid;
}
form button{
    border: none;
    color: aquamarine;
    border-radius: inherit;
    background: inherit;
    padding: 20px 10px;
    box-shadow:  10px 10px 15px var(--main-color),
            -10px -10px 15px var(--main-color);;
}
form label{
    margin: 10px;
}
