:root{
    --local-font-size: 14px;
}
.main-header-cont{

        font-size: var(--local-font-size);
}
.first-header-cont{
    height: 50px;
    background: #003359;
    color: #fff;

}
.top-location-cont{
    padding: 5px;
}
.top-location-cont>a{
    display: block;
    text-align: center;
    border-radius: 16px;
    border: 1px solid #fff;
    padding: 8px 8px;
    margin: 0 5px;
    text-decoration: none;
    font-weight: 400;
}
.top-location-cont>a:hover {
    background: #ffffffd0;
    color: #003359;
}

/* End of First Header */
/* Start of second header */

.second-header-cont{
    padding: 0 60px;
    height: 50px;
    background: #F2F2F2;
    color: #575757;
}

.shopping-text-cont span{
    display: flex;
    font-weight: 600;
}
.shopping-text-cont a, .log-sign-links a{
    text-decoration: none;

    color: inherit;
    margin-left: 5px;
    display: flex;
    font-weight: 300;
}

.search-nav-cont{
    height: 50px;
    width: 90%;
    padding: 5px;
}
/* .search-cont{
    order: 1;
} */
.search-cont{
    flex: 1;
}
.search{
    border-radius: 50px;
        border: 1px solid #CCCCCC;
        width: 85%;
    height: 85%;
}
.search-cont input{
    text-indent: 5px;
    height: 90%;
    width: 85%;
    border: none;
    outline: none;
    margin-left: 2px;

}
.search-btn{
    border-radius: 100px;
    margin-right: 2px;
    color: #fff;
    width: 8%;
    height: 90%;
    background: rgba(243, 7, 7, 0.94);
    margin-left: auto;
}
.search-nav-cont .hover{
    font-family: 'pantonFontBold', 'pnpFontBold', Arial;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    color: #2B2B2B;
    font-weight: 600;
    width:auto;
    text-decoration: none;
    height: 85%;
    margin-left: 10px;
    padding: 0 20px;
}
.hover-cont{
    margin-right: 40px;
}
.search-nav-cont .hover svg {
    margin-right: 15px;

}
.search-nav-cont{
    height: auto;
    padding: 4px;
}

.search-nav-cont .hover:hover{
    background: #003359;
    color: #fff;
}

.search-nav-cont a{
    text-decoration: none;
    color: #2B2B2B;
    width: 50px;
    font-weight: lighter;
    height: 85%;
    margin-left: auto;
}
.search-nav-div-1{
    height: 50px;
}
.search-nav-div-2{
    height: 50px;
    flex:1 0 80px;

}
.search-nav-div-2 a{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 5px;
    font-weight: 600;
    margin: auto 0;
}
.search-nav-div-2 a svg{
    font-weight: bold;
    margin-left: 5px;
}
